POSTGRES_DB=suivi
POSTGRES_USER=suivi
POSTGRES_PASSWORD=suivi_dev_password

APP_PORT=8080
DEV_API_UPSTREAM=http://localhost:4000
JWT_SECRET=replace-with-at-least-32-random-characters
SESSION_TTL=8h

ADMIN_PASSWORD=admin123
MANAGER_PASSWORD=gestionnaire
SIMULATED_PASSWORD=password
