POSTGRES_DB=suivi
POSTGRES_USER=suivi
POSTGRES_PASSWORD=suivi_dev_password
POSTGRES_PORT=5433

BACKEND_PORT=4000
FRONTEND_PORT=5173
JWT_SECRET=replace-with-at-least-32-random-characters
SESSION_TTL=8h

ADMIN_PASSWORD=change-admin-password
MANAGER_PASSWORD=change-manager-password
SIMULATED_PASSWORD=demo-suivi
